pipeline/pl_until.json
{
	"name": "pl_until",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(int(variables('V_num')),10)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_temp",
								"value": {
									"value": "@variables('V_num')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_num",
								"value": {
									"value": "@string(add(int(variables('V_temp')),1))",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"V_num": {
				"type": "String",
				"defaultValue": "1"
			},
			"V_temp": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-05-04T09:30:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}